.Passwords{
    
    
    input{
        display: inline-block;
    }
    
    padding:20px;
    background: #111;
   
}

.Passwords.loading + .NewPassword{
    display: none;
}

.addPassword{
   
 
    div{
        display: block;
        width: 33.2%;
        float: left;
        padding-bottom: 20px;
        input[type="text"],
        input[type="password"]{
            width: 100%;
        }
    }
    input[type="submit"]{
        clear:both;
    }
}