#Application{
 
    padding: 6px;
    padding-top: 40px;

    label{
        line-height: 1.5em;
    }
  
    hr{
        border:0;
        border:1px solid #444;
        margin-bottom: 20px;
        margin-top:20px;
    }

    .Login{
        padding: 20px;
        text-align: center;
        label{
            font-size: 21px;
            padding-bottom: 10px;
            display: block;
            text-align: center;
            
            span{
                margin-top:20px;
                display: block;
                padding: 20px;
            }      
            input{
                margin-top:20px;
            }      
        }
    }
    .Block{

        a{
            &:hover{
                color: red;
                cursor: pointer;
            }
            color: #444;
            &.confirm{
                color: red;
                &:hover{
                    color: green;
                }
            }
        }

        border:1px solid #222;
        padding:20px;
        background:#222;
        color: white;
        span{
            font-size: 1em;
            display: block;
           
            
            line-height: 2em;
            color: #ccc;
            
            padding-right: 20px;
        }
        label{
            width: calc(48% - 50px);
            margin-right: 1%;
        
            display: block;
            float: left;
            color: #888;
            input{
                width: 100%;           
            }
        }
        label:first-child{
            width: 100% !important;
            input{
                border-color: transparent;
                font-size: 1em;
            }
        }
        
       
        button{
            margin-top: 1.5em;
            width: 100px;
            background: #000;
            color: #FFF;
        }

        &.edit{
            input[type="submit"]{
                margin-top:1.4em;
            }
        }
    }

    .Window{
       
  
        padding:20px;
        background:#333;
        h2{
            margin-bottom: 20px;
            margin-top:20px;
            color: #ccc;
        }  
        p{            
            margin-bottom: 20px;
            margin-top: 20px;
            color: #666;
        }  
    }
    
    .NewPassword{
       
        background: #333333;
        h2{
            padding-bottom: 10px;
        }

       
        div{
            padding-top: 10px;
            input{
                margin-top: 5px;
                display: block;
                background: #000;
                color: #cccccc;
               
            } 
        }
              
    }
    &.dark{
        background: #1e1e1e;
        color: #ccc;
        input,
        button{
            background: #1e1e1e !important;
            color: #ccc;
        } 
        .Login{
            background: #333333;
            label{
                font-size:1em;
                span{
                    font-size: 2em;
                    display: inline-block;
                    color: fff;
                }  
               
            }
               
        }
    }
}