%btn{
    width:25px;
    padding:10px; 
    margin:0;
    font-size: 12px;
}

.menu{
    
    -webkit-user-select: none;
    -webkit-app-region: drag;
    

}
ul.close{
    position:absolute !important;
    left:-1000px !important;
}
.menu ul li ul li, 
.menu ul li ul, 
.menu ul li {
    -webkit-app-region: no-drag;
}


.menu{

    /*
    &:before{
        content: attr(data-title); 
        padding-top:6px;
        position: absolute;
        top:0;
        left:0;
        right:0;
        text-align: center;
        display: inline-block;
        max-width: 60%;
        overflow: hidden;
        margin:0 auto;
        font-family: sans-serif;
        font-size: 13px;
    }
    */

    position: relative;
    display: block;
    width: 100%;

    ul{
        position: relative;
        z-index: 999;
        li{
            display: inline-block;
            width: auto;
            padding: 0 10px;
            position: relative;
            height: 28px;
            line-height: 28px;
            cursor: pointer;   
            &.separator{
                height:1px !important;
                background: #ccc;
                line-height: 0 !important;
                padding: 0 !important;
                margin: 0 !important;
                display: block
            }                  
        }              
    }      
}


ul#custom-menu-area{
    width:100%;
    height:29px;
    line-height: 28px;
    margin: 0;
    padding: 0;
    position: fixed;
    top:0;
    
    ul{

        width: 200px;
        z-index: 999;
            display: block;
            position: absolute;
            margin-top:-2px;
            height:auto;
       
            left: 0;
            display: none;
            border: 1px solid;
            box-shadow: 0px 10px 21px -8px rgba(0, 0, 0, 0.4);

            li{
                width: 100%;
                &.checked{
                    background: red;
                }
            }
    }
}

/*shortcut*/
.menu ul ul li span{
    position: absolute;
    right: 0;
    padding-right: 20px;
}

/*hover effects*/
.menu ul ul li:hover{   
    cursor: pointer;
}


/*active menu enable hover*/
/*css hover effect*/
.menu ul.active li.active > ul,
.menu ul.active li:hover > ul{
    display: block !important;
    cursor: pointer;
}


//inactive app screen
$inactive-bg: #2b2929;
$inactive-border: #111;
$inactive-color: #6c6c6c;

//layout.scss
$menu-bg:  #2b2929;
$primary-bg: #353535;
$secondary-bg: #3d3d3d;
$border-col: #2b2929;
$font-col: #ccc;

$window-margin: 4px;

$active-color:#6c6c6c;


//dark theme
ul#custom-menu-area{
    background: $menu-bg;
    border-top:1px solid $menu-bg;
    color: $font-col;
    font-size:1em;
    ul{
        background: $secondary-bg;
        border-color: $border-col;
        li{
            &.separator{
                background: $border-col;
            }   
            &:hover{
                background: $primary-bg;
            }
        }
    }
}

.menu{
    &:before{
       color: #999; 
    }
}